.campi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background-color: #15803D;
    position: relative;
}

.campi div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.campi-descricao {
    height: 660px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-size: 16px;
    color: #FFFFFF;
}

.mapa {
    height: 660px;
    width: 50%;
    background-color: #15803D;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.mapa svg {
    width: 90%;
    height: auto;
}

.campi a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.campi h1 {
    font-size: 36px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 24px;
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
}